body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

h1,h2,h3,h4,li,ul{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Arial, Helvetica, sans-serif;
}

.tc{
    text-align: center;
    padding-top: 40px;

}

li{
    list-style: none;
}

/**** NAVBAR ****/
.navbarcustom{
    background: rgba(0, 0, 0, 0.418);
    display:flex;
    justify-content: space-around;
    font-size: 18px;
  
}

.navbarcustom ul{
    display: flex;
    
    
    
}
.navbarcustom li{
    margin: 20px 40px;


    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbarcustom a{
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.navbarcustom a:hover{
    color:rgb(134, 134, 134) ;
}


/**** FIM NAVBAR ****/

/***** CONTAINER HEADER *****/
.container-header{
    background: linear-gradient(to bottom,#1971c2,#165c9e);
    height: 700px;
}

/***** CONTAINER HEADER  FIM *****/


/***** FOOTER  *****/
.footer{
    background: rgba(52, 58, 64, 1);
    height: 270px;

   
   
}
.copyringt{
    background-color: #212529;
    height: 85px;
    display: flex;
    color:#adb5bd;
    border: red solid 1px;
  
    
}
.card-footer{
    
    height: 200px;    

   
}
.card-footer a{
   
   color: white;
}
.card-footer h3{
    font-size: 18px;
    padding-top: 40px;
    padding-bottom:10px ;
    text-decoration: none;
    
}

.card-footer h3 a{
    text-decoration: none;
}



/***** FOOTER  FIM *****/